<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge, chrome=1'>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="robots" content="index">

  <link rel='author' href='/humans.txt'>
  <link rel="me" href="https://github.com/<%= github_username %>" type="text/html">

  <block name="og">
    <meta property="og:title" content="<%= name %>">
    <meta property="og:type" content="website">
    <meta property="og:description" content="<%= description %>">
    <meta property="og:image" content="http://localhost:1111/img/ogimage.png">
    <meta property="og:url" content="https://localhost:1111">
  </block>

  <link rel="manifest" type="text/json" href="/manifest.json">
  <meta name="theme-color" content="#FFF">
  <meta name="application-name" content="<%= name %>">
  <meta name="description" content="<%= description %>">
  <meta name="mobile-web-app-capable" content="yes">

  <meta name="msapplication-config" content="/browserconfig.xml">

  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="#FFF">
  <meta name="apple-mobile-web-app-title" content="<%= name %>">
  <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
  <link rel="mask-icon" href="/img/safari-pinned-tab.svg" color="#FFF">

  <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
  <link rel="shortcut icon" href="/img/favicon.ico">

  <block name="title">
    <title><%= name %></title>
  </block>

  <link rel='stylesheet' href='/css/global.css'>
  <block name="stylesheet"></block>
</head>

<body role='document'>
<block name="navigation"></block>

<main role='main'>
  <block name='content'></block>
</main>

<block name="footer"></block>

<block name="javascript"></block>
</body>
</html>
